<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751032311627-k410t1eu286qubocrijg2d35fbe9fef5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751032311627-k410t1eu286qubocrijg2d35fbe9fef5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751032311627-0oc9t9anec3vl8lnv35lfc5ie9vnrobj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwgs_i7a0M98crqHDPPlpUYPGS0Uv_y08</string>
	<key>GCM_SENDER_ID</key>
	<string>751032311627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovigin.ios.Learnsy</string>
	<key>PROJECT_ID</key>
	<string>skillify-loviagin</string>
	<key>STORAGE_BUCKET</key>
	<string>skillify-loviagin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751032311627:ios:82326cfbb0cb94ece312ce</string>
</dict>
</plist>